<div class="container orderContainer">	
	<h1>Congrats on your order!</h1>
	<p class="subHeading">Here's what you ordered:</p>
	<table class="cartTable orderTable">
		<tr>
			<th>Item</th>
			<th>Qty.</th>
		</tr>
		<% @order.carted_dishes.each do |carted_dish| %>
		<tr>
			<td class="dishName">
				<%= carted_dish.dish.name %>
				<p>COMMENTS: <%= carted_dish.comments %></p>
				<% if carted_dish.salad_ingredients %>
						<p class="salad_ingredients">INGREDIENTS: <%= carted_dish.salad_ingredients.chop.chop %></p>
					<% end %>
					<% if carted_dish.toppings %>
						<p class="toppings">TOPPINGS: <%= carted_dish.toppings.chop.chop %></p>
					<% end %>
			</td>
			<td><%= carted_dish.quantity %></td>
		</tr>
	<% end %>
	</table>
	<div class="orderInfoDiv">
		<p>Reference #: <%= @order.ref_num %></p>
		<p>Total: <%= number_to_currency(@order.total) %></p>
		<p>Method: <%= @order.order_method %></p>
		<% if @order.order_method == "Delivery" %>
			<p>Address For Delivery: <%= @order.delivery_address %></p>
		<% end %>
		<p>An email confirmation has been sent to: <%= @order.email %></p>
		<p>Purchased on: <%= @order.pretty_time %></p>
	</div>
</div>

