<div class="container orderContainer">	
	<h1>Congrats on your order!</h1>
	<p class="subHeading">Here's what you ordered:</p>
	<table class="cartTable orderTable">
		<tr>
			<th>Item</th>
			<th>Qty.</th>
		</tr>
		<% @order.carted_dishes.each do |carted_dish| %>
		<tr>
			<td class="dishName"><%= carted_dish.dish.name %><p><%= carted_dish.comments %></p></td>
			<td><%= carted_dish.quantity %></td>
		</tr>
	<% end %>
	</table>
	<div class="orderInfoDiv">
		<p>Reference #: <%= @order.ref_num %></p>
		<p>Total: <%= number_to_currency(@order.total) %></p>
		<p>An email confirmation has been sent to: <%= @order.email %></p>
		<p>Purchased on: <%= @order.pretty_time %></p>
	</div>
</div>

