<div class="container cartContainer">
<h1>This is your cart:</h1>
	<table class="cartTable">
		<tr>
			<th>Item</th>
			<th>Qty.</th>
			<th>Price</th>
			<!-- <th>Remove dish</th> -->
		</tr>
		<% @carted_dishes.each do |carted_dish| %>
			<tr>
				<td><a href="/dishes/<%= carted_dish.dish_id %>"><%= carted_dish.dish.name %></a><%= button_to("Remove Item", "/carted_dishes/#{carted_dish.id}", method: :delete, :class => "btn addToCartBtn") %></td>
				<td><%= carted_dish.quantity %></td>
				<td><%= number_to_currency(carted_dish.dish_subtotal) %></td>
				<!-- <td></td> -->
			</tr>
		<% end %>
		<tr>
		
			<td>Subtotal: <%= number_to_currency(@subtotal) %></td>
		</tr>
		<tr>
			<td>Tax: <%= number_to_currency(@tax) %></td>
		</tr>
		<tr>
			<td>Total: <%= number_to_currency(@total) %></td>
		</tr>
	</table>
	<%= form_tag "/orders", method: :post do %>
	<%= submit_tag "Place Order", class: "btn addToCartBtn" %>
	<% end %>
	<br>
<!-- 	<a href="/dishes"><button type="button" class="btn addToCartBtn">Back To Ordering Menu</button></a> -->
	<%= button_to("Back To Ordering Menu", "/dishes", method: :get, :class => "btn addToCartBtn") %>
</div>