<div class="container cartContainer">
	<h1>Your Cart</h1>
	<table class="cartTable">
		<tr>
			<th>Item</th>
			<th></th>
			<th>Qty.</th>
			<th>Price</th>
		</tr>
		<% @carted_dishes.each do |carted_dish| %>
			<tr>
				<td>
					<span class="cartedDishName"><%= carted_dish.dish.name %></span>
					<% if carted_dish.salad_ingredients != "" %>
						<p class="salad_ingredients">INGREDIENTS: <%= carted_dish.salad_ingredients %></p>
					<% end %>
					<% if carted_dish.toppings != "" %>
						<p class="toppings">TOPPINGS: <%= carted_dish.toppings %></p>
					<% end %>
					<% if carted_dish.salad_mix != "" %>
						<p class="comments">SALAD MIX: <%= carted_dish.salad_mix %></p>
					<% end %>
					<% if carted_dish.dressing != "" %>
						<p class="comments">DRESSING: <%= carted_dish.dressing %></p>
					<% end %>
					<% if carted_dish.dressing_placement != "" %>
						<p class="comments">DRESSING PLACEMENT: <%= carted_dish.dressing_placement %></p>
					<% end %>
					<% if carted_dish.comments != "" %>
						<p class="comments">COMMENTS: <%= carted_dish.comments %></p>
					<% end %>		
				</td>
				<td>
					<%= button_to("X", "/carted_dishes/#{carted_dish.id}", method: :delete, :class => "btn removeBtn", :id => "removeBtn") %>
				</td>
				<td><%= carted_dish.quantity %></td>
				<td><%= number_to_currency(carted_dish.price) %></td>
			</tr>
		<% end %>
	</table>
	<p>Subtotal: <%= number_to_currency(@subtotal) %></p>
	<p>Tax: <%= number_to_currency(@tax) %></p>
	<h3 class="total">Total: <%= number_to_currency(@total) %></h3>
	<%= button_to "Order for Pickup", "/orders/new", class: "btn addToCartBtn", id: "placeOrderBtn", method: :get %>
	<%= button_to "Order for Delivery", "/orders/delivery", class: "btn addToCartBtn", id: "placeOrderBtn", method: :get %>
	<!-- <br> -->
	<%= button_to("Back To Ordering Menu", "/categories", method: :get, :class => "btn addToCartBtn") %>
</div>