<div class="container cartContainer">
<h1>Your Cart</h1>
	<table class="cartTable">
		<tr>
			<th>Item</th>
			<th>Qty.</th>
			<th>Price</th>
			<!-- <th>Remove dish</th> -->
		</tr>
		<% @carted_dishes.each do |carted_dish| %>
			<tr>

				<td><span class="cartedDishName"><%= carted_dish.dish.name %></span><p><%= carted_dish.comments %></p></td>
				<td><%= carted_dish.quantity %><%= button_to("X", "/carted_dishes/#{carted_dish.id}", method: :delete, :class => "btn removeBtn") %></td>
				<td><%= number_to_currency(carted_dish.dish_subtotal) %></td>
				<!-- <td></td> -->
			</tr>
		<% end %>
		<!-- <tr class="totalRow"> -->
	</table>
			<p>Subtotal: <%= number_to_currency(@subtotal) %></p>
		<!-- </tr> -->
		<!-- <tr class="totalRow"> -->
			<p>Tax: <%= number_to_currency(@tax) %></p>
		<!-- </tr> -->
		<!-- <tr class="totalRow"> -->
			<h3 class="total">Total: <%= number_to_currency(@total) %></h3>
		<!-- </tr> -->
	
	<%= button_to "Order for Pickup", "/orders/new", class: "btn addToCartBtn", id: "placeOrderBtn", method: :get %>
	<%= button_to "Order for Delivery", "/orders/delivery", class: "btn addToCartBtn", id: "placeOrderBtn", method: :get %>
	<br>
	<%= button_to("Back To Ordering Menu", "/categories", method: :get, :class => "btn addToCartBtn") %>
</div>