<div id="showDishContainer">
<h2><%= @dish.name %></h2>
<p class="dishDescription"><%= @dish.description %></p>
<h3>$<%= @dish.price %></h3>
<!-- <button class="btn addToCartBtn">Add to Cart</button> -->

<%= form_tag "/carted_dishes", method: :post do %>
	<span>
		<p><%= label_tag :quantity %>
		<%= text_field_tag :quantity, 1, :class => "quantityField" %></p>	
	</span>
	<%= hidden_field_tag :dish_id, "#{@dish.id}" %>
	<%= submit_tag "Add To Cart", class: "btn addToCartBtn" %>
<% end %>
</div>