<div id="showDishContainer">
	<h2><%= @dish.name %></h2>
	<img src="/assets/dish_pics/griller.jpg" class="showDishPic">
	<p class="dishDescription"><%= @dish.description %></p>
	<h3>$<%= @dish.price %></h3>
	<%= form_tag "/carted_dishes", method: :post do %>
		<span>
			<p><%= label_tag :quantity %>
			<%= text_field_tag :quantity, 1, :class => "quantityField" %></p>	
		</span>
		<%= hidden_field_tag :dish_id, "#{@dish.id}" %>
		<%= submit_tag "Add To Cart", class: "btn addToCartBtn" %>
	<% end %>
	
	<% if @dish.category.name == "Salads" %>
		<ul class="dressingList">
			<% @dressings.each do |dressing| %>
				<li><%= dressing %></li>
			<% end %>
		</ul>
	<% end %>
	
	<a href="/categories/<%= @dish.category.id %>"><button class="btn addToCartBtn">Return To <%= @dish.category.name %></button></a>


</div>