<header class="categoryHeader <%= @dish.category.name %>Header" id="dishHeader">
	<div class="headerOverlay"></div>
	<h1 class="dishesH1"><%= @dish.category.name %></h1>
	<h2 class="tagline"><%= @dish.category.tagline %></h2>
</header>
<div id="showDishContainer">
	<h2><%= @dish.name %></h2>
	
	<p class="dishDescription"><%= @dish.description %></p>
	<h3>$<%= @dish.price %></h3>

	<%= form_tag "/carted_dishes", method: :post do %>
		<span>
			<p><%= label_tag :quantity %>
			<%= text_field_tag :quantity, 1, :class => "quantityField" %></p>	
		</span>
		<% if @dish.category.name == "Salads" %>
			<% if @dish.name == "Create Your Own" %>
				<p class="subheading">Please choose up to seven salad ingredients (to see pictures of the ingredients, click <%= link_to "here", salad_ingredients_path %>)</p>
				<div class="row saladIngredientsDiv">
					<% @salad_ingredients.sort_by { |si| si.name  }.each_slice(@salad_ingredients.count/4) do |five| %>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 saladIngredientsColumn">
							<% five.each do |si| %>
								<p><%= check_box_tag "salad_ingredients[]", si.id, nil, :class => "siCheckBox" %>
								<%= label_tag si.id, si.name %></p>
								<!-- <a href="/assets/SaladIngredients/<%= si.image %>"><%= si.name %></a> -->
							<% end %>
						</div>
					<% end %>
				</div>
				<div>
					<p class="subheading">Choose Your Dressing:</p>
					<%= select_tag :dressing, options_for_select(@dressings.collect { |dressing| [ dressing, dressing ] }.insert(0, "No Dressing")) %>
				</div>
			<% end %>
			<p class="subheading">Choose Your Toppings (for pictures, click <%= link_to "here", salad_toppings_path %>) :</p>
			<div class="row saladToppingsDiv">
				<% @salad_toppings.sort_by { |st| st.price }.each_slice(3) do |three| %>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 saladIngredientsColumn">
						<% three.each do |st| %>
							<p><%= check_box_tag "salad_toppings[]", st.id %>
							<%= label_tag st.name %> - <%= number_to_currency(st.price) %></p>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="row">
				
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>How would you like your dressing?</p>
					<p><%= radio_button_tag :dressing_placement, "Mixed In", selected: true %><%= label_tag "Mixed In" %></p>
					<p><%= radio_button_tag :dressing_placement, "On The Side" %><%= label_tag "On The Side" %></p>
					<p><%= radio_button_tag :dressing_placement, "No Dressing" %><%= label_tag "No Dressing" %></p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>How would you like your salad mixed?</p>
					<p><%= radio_button_tag :salad_mix, "Chopped", selected: true %><%= label_tag "Chopped" %></p>
					<p><%= radio_button_tag :salad_mix, "Tossed" %><%= label_tag "Tossed" %></p>
					<p><%= radio_button_tag :salad_mix, "Not Mixed" %><%= label_tag "Not Mixed" %></p>
				</div>
			</div>
		<% end %>

		<span>
			<p>
			<%= text_area_tag :comments, "", :placeholder => "Order this item your way - enter your comments here.", :class => "comments" %></p>	
		</span>
		<%= hidden_field_tag :dish_id, "#{@dish.id}" %>
		<%= submit_tag "Add To Cart", class: "btn addToCartBtn" %>
	<% end %>
	
	<a href="/categories/<%= @dish.category.id %>"><button class="btn addToCartBtn">Return To <%= @dish.category.name %></button></a>

</div>

