<div id="showDishContainer">
	<h2><%= @dish.name %></h2>
	
	<p class="dishDescription"><%= @dish.description %></p>
	<h3>$<%= @dish.price %></h3>

	<%= form_tag "/carted_dishes", method: :post do %>
		<span>
			<p><%= label_tag :quantity %>
			<%= text_field_tag :quantity, 1, :class => "quantityField" %></p>	
		</span>
		<% if @dish.category.name == "Salads" %>
			<div class="container dressingListDiv transBkgrnd" id="dressingOptionsDiv">
				<h1>Dressing Options</h1>
				<ul class="dressingList">
					<div class="row">
						<% @dressings.each_slice(4) do |four_dressings| %>
								<div class="col-xs-12 col-md-3">
									<% four_dressings.each do |dressing| %>
										<li><%= dressing %></li>
									<% end %>
								</div>
						<% end %>
					</div>	
				</ul>
			</div>
		<% end %>
		<span>
			<p>
			<%= text_area_tag :comments, "", :placeholder => "Order this item your way - enter your comments here.", :class => "comments" %></p>	
		</span>
		<%= hidden_field_tag :dish_id, "#{@dish.id}" %>
		<%= submit_tag "Add To Cart", class: "btn addToCartBtn" %>
	<% end %>
	
	<a href="/categories/<%= @dish.category.id %>"><button class="btn addToCartBtn">Return To <%= @dish.category.name %></button></a>

</div>

